<h1>Hello From Rails!</h1>
<a href = "http://www.justfacebookfriends.com" >i go to fun!</a>
<p>It is now <%= @time %> </p>
<p>That means
  I'm gonna give ya 'til the count of 3 to get your lousy, lyin',</p>
<p>low-down 4-flushin' carcass out my door! 1... 2...
  <%= link_to "Run!!!", say_goodbye_path %><br/>
  3!
  Merry Christmas ya filthy animal</p>
 <p> and a Happy New Year </p>

